In [18]:
import pandas as pd

In [21]:
df = pd.read_csv('green_tripdata_2019-09.csv.gz', parse_dates=['lpep_pickup_datetime','lpep_dropoff_datetime'])

/tmp/ipykernel_6274/2218294690.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-09.csv.gz', parse_dates=['lpep_pickup_datetime','lpep_dropoff_datetime'])

In [22]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1.0,1.0,0.0

In [23]:
trip_count_filter = df[(df['lpep_pickup_datetime'].dt.date == pd.Timestamp('2019-09-18').date())&
(df['lpep_dropoff_datetime'].dt.date == pd.Timestamp('2019-09-18').date())]

In [24]:
trip_count = len(trip_count_filter)

In [25]:
trip_count

15612

In [26]:
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])

In [27]:
dates = ['2019-09-18', '2019-09-16', '2019-09-26', '2019-09-21']
filtered_data = df[df['lpep_pickup_datetime'].dt.date.astype(str).isin(dates)]

In [28]:
result = filtered_data.loc[filtered_data.groupby(filtered_data['lpep_pickup_datetime'].dt.date)['trip_distance'].idxmax()]

In [29]:
print(result[['lpep_pickup_datetime', 'trip_distance']])

       lpep_pickup_datetime  trip_distance
194647  2019-09-16 07:17:37         114.30
423538  2019-09-18 18:20:00          70.28
260941  2019-09-21 00:18:15         135.53
337292  2019-09-26 19:32:52         341.64

In [43]:
sec_df = pd.read_csv('taxi+_zone_lookup.csv', nrows=100)

In [44]:
sec_df

    LocationID        Borough                       Zone service_zone
0            1            EWR             Newark Airport          EWR
1            2         Queens                Jamaica Bay    Boro Zone
2            3          Bronx    Allerton/Pelham Gardens    Boro Zone
3            4      Manhattan              Alphabet City  Yellow Zone
4            5  Staten Island              Arden Heights    Boro Zone
..         ...            ...                        ...          ...
95          96         Queens  Forest Park/Highland Park    Boro Zone
96          97       Brooklyn                Fort Greene    Boro Zone
97          98         Queens              Fresh Meadows    Boro Zone
98          99  Staten Island            Freshkills Park    Boro Zone
99         100      Manhattan           Garment District  Yellow Zone

[100 rows x 4 columns]

In [79]:
from sqlalchemy import create_engine

In [80]:
second_engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [81]:
print(pd.io.sql.get_schema(sec_df, name='dataset_zones',con=second_engine))

CREATE TABLE dataset_zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [82]:
sec_df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [83]:
sec_df.to_sql(name='dataset_zones', con=second_engine, if_exists='replace')

265

In [8]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [9]:
print(pd.io.sql.get_schema(df, name='green_taxi_data',con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [10]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv.gz', iterator=True, chunksize=100000)

In [11]:
df = next(df_iter)

In [12]:
len(df)

100000

In [13]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [14]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: user 3.7 s, sys: 128 ms, total: 3.83 s
Wall time: 6.46 s

1000

In [16]:
while True:
    df = next(df_iter)
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

/tmp/ipykernel_6274/2774915894.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

StopIteration: